*.log
.DS_Store

# Environment variables
.env
.env.backup
.env.production
frontend/.env
backend/.env

# Dependencies (Tanda '/' di depan dihapus agar berlaku di dalam folder frontend & backend)
node_modules/
vendor/

# Frontend (React/Vite) build files
frontend/dist/
frontend/dist-ssr/

# Backend (Laravel) generated & storage files
backend/public/build
backend/public/fonts-manifest.dev.json
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/storage/pail

# IDE, Caches, & Tools
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db